* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;

}
nav ul {
    margin-top: 0px;
   }
nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0.05px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(252, 252, 252);
    min-width: 280px;
}

header {
    height: 100vh;
    background-image: url("picture.jpg");
    background-size:cover;
    background-attachment: fixed;
    object-fit: contain;
    justify-content: center;
    max-height: 100vh;
    background-repeat: no-repeat;
}

.title {
    color:rgb(255, 255, 255);
    padding: 5%;
}

.contain-title {
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 15px;
    padding-bottom: 5px;
}

.espacio {
    height: 20px;
}